@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
    overflow: hidden;
}

main .text{
    position: relative;
    color: white;
    margin: 40px;
    max-width: 800px;
    user-select: none;
    font-size: 2em;
}

main .text span{
    position: relative;
    display: inline-block;
    cursor: pointer;
}


main .text span.active{
    animation: smoke_out 2s linear forwards;
    cursor: default;
}

main .text span.not-active{
    animation: smoke_in 1s linear forwards;
}

@keyframes smoke_out
{
    0%
    {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0) translateY(0) rotate(0deg) scale(1);
    }
    50%
    {
        opacity: 1;
        pointer-events: none;

    }
    100%
    {
        opacity: 0;
        filter: blur(20px);
        transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
    }
}

@keyframes smoke_in
{
    0%
    {
        opacity: 0;
        filter: blur(20px);
        transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
    }
    50%
    {
        opacity: 1;
        pointer-events: none;

    }
    100%
    {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0) translateY(0) rotate(0deg) scale(1);
    }
}